<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="php/example1.php">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Example1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="php/example2.php">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Example2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="php/example3.php">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Example3
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="phpstandalone.php">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Example4
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
